@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #24252aa5;
  background-image: url('background.jpg');
  background-blend-mode: multiply;
  background-size: cover;
}


li,
a {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252add;
  position: sticky;
  z-index: 10;
  top: 0;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  color: #a3a6d7;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #a3a6d7;
  border-radius: 20em;
}


h2 {
  text-align: center;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  color: #24252a;
  background: #a6a9c5;
  padding: 20px 0px;
}

h5 {
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
  margin-left: 8em;
  margin-top: 5em;
}

h1 {
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 4em;
  color: white;
  margin-left: 9.5%;
}

p {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #edf0f1;
  margin-left: 9.5%;
}

p a {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #3dffe8;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin-left: 9.5%;
  padding: 0.7%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  color: #c2c2c2;
  border-radius: 50em;
  transition: all 0.3s ease 0s;
}

button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.638);
  border: 2px solid #a3a6d7;
  color: white;
}

ul li {
    display: inline-block;
    position: relative;
    color: #24252a;
}
ul li a {
    display: block;
    padding: 20px 25px;
    text-align: center;
    
}
ul li ul.dropdown li {
    display: block;
    
}

ul li ul.dropdown {
    width: 100%;
    background: #24252a;
    position: absolute;
    z-index: 999;
    display: none;
    color: #24252a;
}

ul li a:hover {
    background: #24252a;
}

ul li:hover ul.dropdown {
    display: block;
}
