@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*
/*you can have your own font*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20pt;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html, body
{   
    min-height: 100vh;
    background: rgb(234, 232, 231);
    height: 170%;
    width: 100%; 
}    

nav ul{
    margin: 0;
}

nav li{
    display: inline;
    padding: 0 5%;
    /*how far apart the buttons are*/
}

nav a{
    padding: .4em;
    display:inline-block;
    color: #ffffffb7;/*button color*/
    text-decoration: none;
}

nav a:hover{
    background-color: rgba(227, 222, 222, 0.708);
    color: white; /*hover effects*/
    border-radius: 30px;
}

nav{
    text-align: center;
    font-size: 0.7em;
    font-weight: lighter; /*change settings as needed*/
    background-color: rgba(35, 35, 35, 0.693);
    border-bottom: 3px solid #242424;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

p{
    color: rgb(150, 90, 71);
    margin: 5%;
}

/*h1{
    color: rgb(214, 123, 71);
    text-align: center;
    font-size: 2em;
}*/


h2{
    margin: 5%;
    color:rgb(209, 135, 92);
    font-size: 1.5em;
}


a {
    text-decoration: none;
    color: #4ff4cb;
    cursor: pointer
}

img {
    opacity: 0.4;
    display: block;
    margin-left: auto;
    margin-right: auto
}

